.uber {
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: opacity 0.15s;
}

.uber:hover {
  opacity: 0.7;
}

.amazon {
  background-color: rgb(255, 221, 0);
  border: none;
  cursor: pointer;
  padding: 10px 50px;
  border-radius: 50px;
}

.amazon:hover {
  background-color: rgb(235, 204, 1);
}

.github {
  border: none;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 128, 0, 0.712);
  padding: 10px 22px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
  transition: box-shadow 0.3s;
}

.github:hover {
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.3);
}

.b-get-started {
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: rgba(82, 2, 132, 0.733);
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.b-get-started:hover {
  background-color: rgba(74, 2, 119, 0.8);
  ;
}

.b-download {
  color: rgb(102, 102, 102);
  font-weight: bold;
  background-color: white;
  border-color: rgb(102, 102, 102);
  border-style: solid;
  border-width: 1px;
  padding: 11px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.b-download:hover {
  background-color: rgb(102, 102, 102);
  color: white;
}

.li-apply {
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-color: rgba(19, 90, 197, 0.916);
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 10px;
  transition: background-color 0.15s;
}

.li-apply:hover {
  background-color: rgba(12, 69, 154, 0.916);
}

.li-save {
  cursor: pointer;
  font-weight: bold;
  color: rgba(19, 90, 197, 0.916);
  background-color: white;
  border-color: rgba(19, 90, 197, 0.916);
  border-style: solid;
  padding: 10px 20px;
  border-radius: 20px;
  border-width: 1px;
  transition: padding 0.15, border-width 0.15s, background-color 0.15s;
}

.li-save:hover {
  padding: 9px 19px;
  border-width: 2px;
  background-color: rgba(19, 90, 197, 0.121);
}

/* .li-save {
  background-color: white;
  color: rgb(10, 102, 194);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(10, 102, 194);
  height: 40px;
  width: 80px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.15s,
    border-width 0.15s;
}

.li-save:hover {
  background-color: rgb(226, 240, 254);
  border-width: 2px;
} */

.back {
  color: rgb(5, 104, 124)
}

.back:hover {
  color: rgb(199, 113, 0);
}

.product-name {
  font-weight: bold;
  font-size: 26px;
}

.price {
  font-weight: bold;
  color: rgba(0, 128, 0, 0.888);
}

.cart {
  background-color: rgb(255, 227, 43);
  border: none;
  cursor: pointer;
  padding: 8px 25px;
  border-radius: 50px;
  margin-right: 8px;
}

.cart:hover {
  background-color: rgb(228, 203, 40);
  ;
}

.cart:active {
  background-color: rgb(255, 227, 43, 0.9);
}

.buy {
  background-color: rgb(255, 181, 43);
  border: none;
  cursor: pointer;
  padding: 8px 25px;
  border-radius: 50px;
}

.buy:hover {
  background-color: rgb(216, 153, 35);
}

.buy:active {
  background-color: rgb(255, 181, 43, 0.9);
}

.subscribe {
  cursor: pointer;
  border: none;
  color: white;
  background-color: rgb(205, 0, 0);
  padding: 10px 20px;
  border-radius: 2px;
  margin-right: 10px;
  transition: opacity 0.15s;
}

.subscribe:hover {
  opacity: 0.8;
}

.join {
  cursor: pointer;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  color: rgb(0, 96, 205);
  border-color: rgb(0, 96, 205);
  padding: 9px 15px;
  border-radius: 2px;
  margin-right: 10px;
  transition: backround-color 0.15s, color 0.15s;
}

.join:hover {
  background-color: rgb(0, 96, 205);
  color: white;
}

.tweet {
  cursor: pointer;
  background-color: rgb(0, 157, 255);
  border: none;
  font-weight: bold;
  font-size: 15px;
  color: white;
  padding: 9px 16px;
  border-radius: 20px;
}

.page {
  margin: 0 6px;
}

.stretch {
  cursor: pointer;
  border: none;
  color: white;
  background-color: green;
  font-size: 16px;
  padding: 6px 15px;
  transition: padding 0.3s;
}
.stretch:hover {
  padding: 13px 30px;
}

.shadow {
  cursor: pointer;
  border: none;
  color: white;
  background-color: green;
  font-size: 16px;
  padding: 6px 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 6px;
}
.shadow:active {
  box-shadow: none;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.marpad {
  cursor: pointer;
  border: none;
  color: white;
  background-color: green;
  font-size: 16px;
  padding: 6px 15px;
  margin: 0 10px;
  transition: padding 0.15s, margin 0.15s;
}
.marpad:hover {
  padding: 6px 25px;
  margin: 0 0;
}