@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-bar {
  border-color: rgba(128, 128, 128, 0.634);
  border-style: solid;
  border-width: 1px;
  height: 36px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  font-size: 16px;
  flex: 1;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}
.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-button {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.634);
  height: 40px;
  width: 66px;
  background-color:rgb(240, 240, 240);
  margin-left: -1px;
  margin-right: 10px;
}

.voice-search-button {
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: rgb(245, 245, 245);
}
.voice-search {
  width: 24px;
  margin-top: 4px;
}

.search-icon {
  height: 25px;
  margin-top: 4px;
}

.right-section {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}
.upload-icon {
  width: 26px;
}
.youtube-apps-icon {
  width: 26px;
}
.notifications-icon {
  width: 26px;
}
.current-user {
  width: 32px;
  border-radius: 50%;
}